In [22]:
#Ans1: def keyword is used to create a function.
def odd(n):
    l=[]
    l1=[]
    for i in range(1,n+1):
        l.append(i)
    for i in l:
        if i%2!=0:
            l1.append(i)
    return l1

In [26]:
# Ans2: *args is used to pass a variable number of arguments to a function
# **kwargs is used to pass a keyworded, variable-length argument list.
# example:
def test1(*args):
    return(args)
def test2(**kwargs):
    return(kwargs)

In [25]:
test1("abhi",45,"somanathan")

('abhi', 45, 'somanathan')

In [27]:
test2(x="abhi",y=[45,2,7,8,9,6],z=87)

{'x': 'abhi', 'y': [45, 2, 7, 8, 9, 6], 'z': 87}

In [33]:
"""Ans3: Iterator are those which can be iterated one by one using the loop.
         iter() function is used to initialise the iterator and we use for loop to iterate values using iteration """
l1=[]
for i in range(21):
    if i%2==0
s=iter(l1)
for i in range(5):
    print(next(s))

2
4
6
8
10

In [41]:
"""Ans4: The generator function used to generate the value at time of execution rather than saving the whole values of list in the memory and show them at once in a sigle list.
It saves the memory. yield is a special keyword used to help in creating a generator function"""
def fibo(n):
    a=0
    b=1
    while True:
        yield(a)
        c=a+b
        a=b
        b=c

In [44]:
f=fibo(10)
for i in range(10):
    print(next(f))

0
1
1
2
3
5
8
13
21
34

In [53]:
# Ans5:
def prime(n):
    for i in range(1000):
        if i>1:
            for j in range(2,i):
                if (i%j==0):
                    break
            else:
                yield(i)

In [59]:
p=prime(1000)
for i in range(20):
    print(next(p))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

In [63]:
#Ans6:
a=0
b=1
count=1
while count<=10:
    print(a)
    c=a+b
    a=b
    b=c
    count=count+1

0
1
1
2
3
5
8
13
21
34

In [66]:
#Ans7:
s="pwskills"
[i for i in s]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [78]:
#Ans:8
value=input("Enter the value to be checked as Palindrome")
rev_value=value[::-1]
if value==rev_value:
    print(value," is a Palindrome")
else:
    print(value," is not a Palindrome")

Enter the value to be checked as Palindrome radar

radar  is a Palindrome

In [74]:
#Ans9:
l1=[i for i in range(1,101)]
[i for i in l1 if i%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [73]:
l1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]